/* highlight cell of table/ set highlight class in tbody */
.hl-cell .hl-td{
	/*background-color: rgb(0 173 255 / 8%);*/
	background: #e8feff;
	border-color: #76d5ff;
	border-right: none;
	border-left: none;
}
.hl-row .hl-td{
	background-color: rgb(0 173 255 / 8%);
	border-color: #76d5ff;
	border-right: none;
	border-left: none;
}





